<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue版前端渲染</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<header>
    <h1>留言板</h1>
</header>

<article class="container">
    <div class="search-area form-inline">
        <div class="form-group">
            <input class="form-control" type="text" placeholder="按标题搜索" v-model="searchContent">
            <button class="btn btn-primary search-btn" type="button" v-on:click="getMessageFromServer">搜索</button>
        </div>
    </div>
    <button class="btn btn-success" style="margin-bottom: 25px" v-if="!showPostNew" v-on:click="showPostNew = !showPostNew">发布新的留言</button>
    <div class="new-area form-group" v-if="showPostNew">
        <input placeholder="标题" style="margin-bottom: 5px" class="form-control" type="text" v-model="title">
        <textarea placeholder="内容" style="margin-bottom: 5px" class="form-control" v-model="content"></textarea>
        <button class="btn btn-success" v-on:click="postMessageToServer">提交</button>
    </div>
    <div class="comment-area">
        <div class="card" v-for="msg in list" track-by="$index">
            <h4 class="comment-title">{{msg.title}}</h4>
            <p class="comment-content">{{msg.content}}</p>
            <p class="comment-time">{{msg.time}}</p>
            <button class="btn btn-danger" type="button" v-on:click="deleteMsgFromServer(msg)">删除</button>
        </div>
    </div>
    <div class="page-area">
        <button class="btn btn-info" v-on:click="lastPage" v-if="hasPre">上一页</button>
        <button class="btn btn-info" v-on:click="nextPage" v-if="hasNext">下一页</button>
    </div>
</article>

<script src="//cdn.bootcss.com/vue/2.1.5/vue.min.js"></script>
<script src="//cdn.bootcss.com/vue-resource/1.0.3/vue-resource.min.js"></script>
<script src="./main.js"></script>
</body>
</html>